.container {
  width: 1920px;
  height: 2900px;
  background-color: #F6F8FA;
  border: 1px solid black;
}

.container .boshi1 {
  height: 52px;
  background-color: #10252E;
}

.container .boshi1 .qisim1 {
  display: flex;
  margin-left: 382px;
}

.container .boshi1 .qisim1 .bolak1 {
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak2 {
  color: white;
  margin-left: 15px;
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak3 img {
  margin-top: 22px;
  margin-left: 40px;
}

.container .boshi1 .qisim1 .bolak4 {
  color: white;
  margin-left: 15px;
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak5 {
  margin-left: 562px;
  display: flex;
}

.container .boshi1 .qisim1 .bolak5 .cha1 {
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak5 .cha2 {
  margin-left: 18px;
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak5 .cha3 {
  margin-left: 18px;
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak5 .cha4 {
  margin-left: 14px;
  margin-top: 19px;
}

.container .boshi1 .qisim1 .bolak5 .cha5 {
  width: 133px;
  height: 42px;
  background-color: #B89841;
  margin-left: 33px;
  margin-top: 5px;
  border-radius: 5px;
}

.container .boshi1 .qisim1 .bolak5 .cha5 div {
  margin: 13px;
  text-align: center;
  color: white;
}

.container .menyu {
  height: 78px;
  background-color: #ffffff;
  border: 1px solid white;
  display: flex;
}

.container .menyu .mb1 {
  margin-left: 381px;
  margin-top: 23px;
}

.container .menyu .mb2 {
  margin-top: 27px;
  margin-left: 5px;
}

.container .menyu .mb3 {
  margin-left: 117px;
  margin-top: 17px;
}

.container .menyu .mb3 ul {
  display: flex;
}

.container .menyu .mb3 ul li {
  list-style-type: none;
  margin-left: 40px;
}

.container .d1 {
  margin-left: 838px;
  margin-top: 83px;
}

.container .d1 font {
  font-size: 50px;
}

.container .d2 {
  margin-left: 920px;
  width: 100px;
  height: 4px;
  background-color: #B89841;
}

.container .boshi2 {
  display: flex;
  margin-left: 381px;
}

.container .boshi2 .qisim2 {
  border-bottom: 2px solid #bebbbb;
  margin-left: 20px;
}

.container .boshi2 .qisim2 img {
  border-radius: 2px;
}

.container .boshi2 .qisim2 .bolak6 {
  display: flex;
}

.container .boshi2 .qisim2 .bolak6 .cha6 {
  border: 2px dotted;
  width: 52px;
  height: 52px;
  margin-top: 10px;
}

.container .boshi2 .qisim2 .bolak6 .cha6 img {
  margin: 13px;
}

.container .boshi2 .qisim2 .bolak6 .cha7 {
  margin-left: 26px;
  margin-top: 20px;
}

.container .boshi2 .qisim2 .bolak6 .cha7 strong {
  font-size: 25px;
}

.container .boshi2 .qisim2 .bolak7 {
  width: 367px;
  margin-top: 20px;
}

.container .boshi2 .qisim3 {
  border-bottom: 2px solid #bebbbb;
  margin-left: 20px;
}

.container .boshi2 .qisim3 img {
  border-radius: 2px;
}

.container .boshi2 .qisim3 .bolak8 {
  display: flex;
}

.container .boshi2 .qisim3 .bolak8 .cha8 {
  border: 2px dotted;
  width: 52px;
  height: 52px;
  margin-top: 10px;
}

.container .boshi2 .qisim3 .bolak8 .cha8 img {
  margin: 13px;
}

.container .boshi2 .qisim3 .bolak8 .cha9 {
  margin-left: 26px;
  margin-top: 20px;
}

.container .boshi2 .qisim3 .bolak8 .cha9 strong {
  font-size: 25px;
}

.container .boshi2 .qisim3 .bolak9 {
  width: 367px;
  margin-top: 20px;
}

.container .boshi2 .qisim4 {
  border-bottom: 2px solid #bebbbb;
  margin-left: 20px;
}

.container .boshi2 .qisim4 img {
  border-radius: 2px;
}

.container .boshi2 .qisim4 .bolak10 {
  display: flex;
}

.container .boshi2 .qisim4 .bolak10 .cha10 {
  border: 2px dotted;
  width: 52px;
  height: 52px;
  margin-top: 10px;
}

.container .boshi2 .qisim4 .bolak10 .cha10 img {
  margin: 13px;
}

.container .boshi2 .qisim4 .bolak10 .cha11 {
  margin-left: 26px;
  margin-top: 20px;
}

.container .boshi2 .qisim4 .bolak10 .cha11 strong {
  font-size: 25px;
}

.container .boshi2 .qisim4 .bolak11 {
  width: 367px;
  margin-top: 20px;
}

.container .back {
  width: 1920px;
  height: 757px;
  background-image: url(rasm/rasm3.png);
  background-size: 1920px 757px;
  border: 1px solid white;
}

.container .back .bolak12 {
  margin-left: 804px;
  margin-top: 75px;
}

.container .back .bolak12 p {
  color: white;
  font-size: 50px;
}

.container .back .bolak13 {
  margin-left: 903px;
  width: 120px;
  height: 4px;
  background-color: #B89841;
  margin-top: -40px;
}

.container .back .bolak14 {
  margin-left: 906px;
  margin-top: 50px;
}

.container .back .bolak15 {
  margin-left: 550px;
  width: 815px;
  text-align: center;
}

.container .back .bolak15 font {
  color: white;
}

.container .back .bolak16 {
  margin-left: 880px;
  width: 170px;
  margin-top: 38px;
}

.container .back .bolak16 .f1 {
  color: white;
  font-size: 30px;
}

.container .back .bolak16 .f2 {
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

.container .back .bolak17 {
  margin-left: 893px;
  margin-top: 15px;
}

.container .back .bolak17 img {
  margin-left: 8px;
}

.container .bolak18 {
  margin-left: 381px;
  margin-top: 111px;
}

.container .bolak18 img {
  margin-left: 5px;
}

.container .back2 {
  margin-top: 122px;
  width: 1921px;
  height: 365px;
  background-image: url(rasm/back2.png);
  background-size: 1921px 365px;
  border: 1px solid white;
}

.container .back2 .qisim5 {
  display: flex;
}

.container .back2 .qisim5 .bolak19 {
  color: white;
  margin-left: 382px;
  margin-top: 55px;
}

.container .back2 .qisim5 .bolak19 .cha12 {
  font-size: 25px;
}

.container .back2 .qisim5 .bolak19 .cha13 {
  width: 247px;
  height: 90px;
  margin-top: 35px;
}

.container .back2 .qisim6 {
  margin-top: 55px;
  margin-left: 55px;
}

.container .back2 .qisim6 .bolak20 {
  font-size: 25px;
  color: white;
}

.container .back2 .qisim6 .bolak21 {
  color: white;
}

.container .back2 .qisim7 {
  margin-top: 55px;
  margin-left: 178px;
}

.container .back2 .qisim7 .cha14 {
  font-size: 25px;
  color: white;
}

.container .back2 .qisim7 .cha15 {
  color: white;
}

.container .back2 .qisim8 {
  width: 250px;
  margin-left: 50px;
  margin-top: 55px;
}

.container .back2 .qisim8 .cha16 {
  font-size: 25px;
  color: white;
  text-align: center;
}

.container .back2 .qisim8 .cha17 {
  width: 250px;
  margin-top: 40px;
  color: white;
}

.container .back2 .qisim8 .cha18 {
  display: flex;
}

.container .back2 .qisim8 .cha18 input {
  width: 204px;
  height: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.container .back2 .qisim8 .cha18 .cha19 {
  width: 46px;
  height: 35px;
  background-color: #B89841;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container .back2 .qisim8 .cha18 .cha19 img {
  margin-left: 10px;
  margin-top: 10px;
}

.container .back2 .qisim9 {
  display: flex;
  margin-top: 91px;
  margin-left: 382px;
}

.container .back2 .qisim9 .cha20 {
  color: white;
}

.container .back2 .qisim9 .cha21 {
  margin-left: 225px;
  font-size: 20px;
}

.container .back2 .qisim9 .cha21 img {
  margin-left: 17px;
}

.container .back2 .qisim9 .cha22 {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #B89841;
  margin-left: 350px;
}

.container .back2 .qisim9 .cha22 img {
  margin: 11px;
}
